@font-face {
    font-family: 'Share Tech Mono';
    src: url('ShareTechMono-Regular.woff2') format('woff2'),
        url('ShareTechMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

